<h1>All the episodes</h1>

<% @episodes.each do |episode|%>
<%= link_to episode.name, episode %>
<br>
<br>
<% end%>


     <%# should be redirect to login%>
    
    <h2><%= link_to 'Create an Episode', new_episode_path %></h2>



<%# create a validation to check if people are allowed to create an episode %>